In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd

In [ ]:
# Acesso ao Drive
#arquivo_sobe = '/content/drive/MyDrive/Financeiro/2025/Recebidos/Todos/Relatório de Acompanhamento de Rematrícula - 30_04_2025.xls'
arquivo_sobe = '/content/drive/MyDrive/Financeiro/2025/Recebidos/Todos/Relatório de Acompanhamento de Rematrícula - 31_05_2025.xls'

In [ ]:
df_matricula = pd.read_excel(arquivo_sobe, header=3) #index_col define novo index(coluna esq como indice)
#df_matricula = pd.read_excel('Relatório de Acompanhamento de Rematrícula - 31_03_2024.xls', header=3) #index_col define novo index(coluna esq como indice)

In [ ]:
df_matricula.head(3)

In [ ]:
#Mostra colunas existentes:
df_matricula.columns

In [ ]:
df_matriculas = df_matricula.rename(columns={'Unidade (Colégio)': 'Empresa', 'Matrícula Aluno': 'Codigo', 'Nome do Aluno': 'Nome', 'Data de nascimento': 'Nascimento'})

In [ ]:
df_matriculas.index

In [ ]:
# Seleciona apenas colunas Desejadas
df_matricula = df_matriculas[['Empresa', 'Codigo', 'Nome', 'Data Matrícula', 'Situação', 'Tipo Aluno', 'Nome Resp. Financeiro',
       'Curso', 'Série', 'Nascimento', 'Ano de Entrada', 'Pendência Financeira', 'Primeira Paga', 'Etapa Rematrícula', 'Turma','Bolsa CCT', 'Bolsa DC', 'E-mail Resp. Financeiro',
       'E-mail Resp. Residência']]

In [ ]:
df_matricula.columns

In [ ]:
# ['IEBURIX ALOISE', 'IEBURIX THAZMANA', 'IEBURIX WHALUZ', 'MONAN'],
df_matricula['Empresa'].unique()

In [ ]:
df_matricula['Situação'].unique()

In [ ]:
df_matricula.info()

In [ ]:
#Filtra somente MATRICULAS EM SITUAÇÃO MT, NC e PM
situacao = ['MT', 'NC', 'PM']

# selecting rows based on condition
#df_matricula = df_matricula[df_matricula['Situação'].isin(situacao)]
df_matricula = df_matricula.loc[df_matricula['Situação'].isin(situacao)]

In [ ]:
df_matricula['Situação'].unique()

In [ ]:
df_matricula.head(2)

#Modificando colunas conforme seu tipo de dado correto

In [ ]:
#df_matricula[['Codigo', 'Ano de Entrada']] = df_matricula[['Codigo', 'Ano de Entrada']].astype(str).astype(int)

In [ ]:
#df_matriculasfiltro2['Data Matrícula'] = pd.to_datetime(df_matriculasfiltro2['Data Matrícula'], dayfirst=True, format='%d/%m/%y')
df_matricula['Data Matrícula'] = pd.to_datetime(df_matricula['Data Matrícula'], dayfirst=True)
df_matricula['Nascimento'] = pd.to_datetime(df_matricula['Nascimento'], dayfirst=True)

In [ ]:
# Example 1: Sort DataFrame by date column
df_matricula.sort_values(by='Data Matrícula', inplace = True)

In [ ]:
df_matricula.info()

In [ ]:
df_matricula.head(2)

In [ ]:
df_matricula.tail(2)

In [ ]:
print(df_matricula['Data Matrícula'].min())
print(df_matricula['Data Matrícula'].max())

In [ ]:
#Extrai o mês da coluna Data
#df_periodos = df_pgto
df_matricula['Ano_Mes'] = df_matricula['Data Matrícula'].dt.strftime('%Y-%m')

df_matricula['Mês'] = df_matricula['Data Matrícula'].dt.month

#Extrai o Ano da coluna Data
df_matriculas['Ano'] = df_matricula['Data Matrícula'].dt.year
df_matricula.head(5)

In [ ]:
matriculas_aloise = df_matricula[df_matricula['Empresa'] == "IEBURIX ALOISE"]
matriculas_whaluz = df_matricula[df_matricula['Empresa'] == "IEBURIX WHALUZ"]
matriculas_monan = df_matricula[df_matricula['Empresa'] == "MONAN"]
#matriculas_thazmana = df_matricula[df_matricula['Empresa'] == "IEBURIX THAZMANA"]

In [ ]:
matriculas_aloise.head(2)

In [ ]:
matriculas_whaluz.head(2)

In [ ]:
matriculas_monan.head(2)

In [ ]:
total_de_matriculas = df_matricula['Nome'].count()
total_de_matriculas_aloise = matriculas_aloise['Nome'].count()
total_de_matriculas_monan = matriculas_monan['Nome'].count()
total_de_matriculas_whaluz = matriculas_whaluz['Nome'].count()
#total_de_matriculas_thazmana = matriculas_thazmana['Nome'].count()

In [ ]:
total_de_matriculas

In [ ]:
# Usando groupby para contar o número de vezes que cada nome aparece por empresa
contagem_por_empresa = df_matricula.groupby(['Empresa']).size().reset_index(name='contagem')

contagem_por_empresa

# TABELA REMATRICULA

In [ ]:
tabela_de_rematriculas = {'Empresa': ['Total', 'Aloise', 'Monan', #'Thazmana',
                                      'Whaluz'],
     "Alunos2024": [total_de_matriculas, total_de_matriculas_aloise, total_de_matriculas_monan,# total_de_matriculas_thazmana,
                    total_de_matriculas_whaluz] }
tabela_de_rematriculas = pd.DataFrame(data=tabela_de_rematriculas).T
tabela_de_rematriculas

# Tabela Matriculas Por Mes

Apenas mes

In [ ]:
# Usando groupby para contar o número de vezes que cada nome aparece por empresa
contagem_mes_alo = matriculas_aloise.groupby(['Ano_Mes']).size().reset_index(name='contagem')

contagem_mes_alo

In [ ]:
# Usando groupby para contar o número de vezes que cada nome aparece por empresa
contagem_mes_mon = matriculas_monan.groupby(['Ano_Mes']).size().reset_index(name='contagem')

contagem_mes_mon

In [ ]:
# Usando groupby para contar o número de vezes que cada nome aparece por empresa
contagem_mes_wha = matriculas_whaluz.groupby(['Ano_Mes']).size().reset_index(name='contagem')

contagem_mes_wha

In [ ]:
#tabela_matriculas_mes.columns

In [ ]:
#tabela_matriculas_mes.info()

# Juntar tabelas

In [ ]:
#tabela_matriculas = pd.concat([tabela_de_rematriculas, tabela_matriculas_mes, tabela_matriculas_fase], axis=1)

In [ ]:
df_matricula.info()

In [ ]:
from datetime import datetime, date

In [ ]:
today = date.today()

In [ ]:
now = pd.Timestamp('now')

In [ ]:
df_matricula.head()

In [ ]:
#df = pd.DataFrame(data=df_matricula)

def calculate_age(born):
    #born = datetime.strptime(born, "%d.%m.%Y").date()
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [ ]:
df_matricula['Idade'] = df_matricula['Nascimento'].apply(calculate_age)
print(df_matricula)

In [ ]:
df_matricula.head()

In [ ]:
df_matricula['Empresa'].unique()

In [ ]:
df_matricula_barao = df_matricula.drop(df_matricula[df_matricula.Empresa == 'MONAN'].index)

In [ ]:
print(df_matricula_barao['Empresa'].unique())
print(df_matricula_barao['Tipo Aluno'].unique())

In [ ]:
df_matricula_barao_rematricula = df_matricula_barao.drop(df_matricula_barao[df_matricula_barao['Tipo Aluno'] == 'Novo'].index)
df_matricula_barao_rematricula['Tipo Aluno'].unique()

In [ ]:
df_matricula_barao_novos = df_matricula_barao.drop(df_matricula_barao[df_matricula_barao['Tipo Aluno'] == 'Antigo'].index)

In [ ]:
df_matricula_barao_novos['Tipo Aluno'].unique()

In [ ]:
df_matricula_barao_novos['Turma Atual'] = ''

In [ ]:
df_matricula_barao_novos.columns

In [ ]:
df_matricula_barao_novos.tail(2)

In [ ]:
df_matricula_barao_novos = df_matricula_barao_novos[['Empresa', 'Codigo', 'Nome', 'Data Matrícula', 'Situação', 'Tipo Aluno', 'Turma Atual', 'Turma',
       'Nome Resp. Financeiro', 'Curso', 'Série', 'Nascimento', 'Ano de Entrada', 'Pendência Financeira', 'Primeira Paga',
       'Etapa Rematrícula', 'Ano_Mes', 'Mês', 'Idade', 'Bolsa CCT', 'Bolsa DC', 'E-mail Resp. Financeiro',
       'E-mail Resp. Residência']]

In [ ]:
#Por Bolsa 100%
bolsa = 'DC 100.00% Parcela de 01 a 12'
bolsistas = df_matricula[df_matricula['Bolsa DC'] == bolsa]
bolsistas

In [ ]:
#mat_filtro.columns

In [ ]:
#df['sales'] / df.groupby('state')['sales'].transform('sum')
#df_matricula_barao['Tipo Aluno'] / df_matricula_barao.groupby('Empresa')['Tipo Aluno'].transform('count')
tot = df_matricula_barao.groupby('Tipo Aluno')

In [ ]:
# Usando groupby para contar o número de vezes que cada nome aparece por empresa
tab_remat_e_novas_por_empresa = df_matricula_barao.groupby(['Empresa', 'Tipo Aluno']).size().reset_index(name='Total')
tab_remat_e_novas_por_empresa

In [ ]:
# Usando groupby para contar o número de vezes que cada nome aparece por empresa
tab_remat_e_novas = df_matricula_barao.groupby(['Tipo Aluno']).size().reset_index(name='Total')
tab_remat_e_novas

# Salva em Excel

In [ ]:
# DRIVE
arquivo_desce = '/content/drive/MyDrive/Financeiro/2025/Recebidos/Analises/Matriculas2025 Alunos.xlsx'

In [ ]:
with pd.ExcelWriter(arquivo_desce) as writer:

  df_matricula.to_excel(writer, sheet_name="MatriculasTD")
  df_matricula_barao.to_excel(writer, sheet_name="MatBarãoTD")
  df_matricula_barao_rematricula.to_excel(writer, sheet_name="BarãoRemat")
  df_matricula_barao_novos.to_excel(writer, sheet_name="MatNovasBarão")
  matriculas_monan.to_excel(writer, sheet_name="MatMonan")
  #sairam.to_excel(writer, sheet_name="Sairam")
  #mat_filtro.to_excel(writer, sheet_name="Mat25AGO")
  bolsistas.to_excel(writer, sheet_name="Bolsistas")

  tabela_de_rematriculas.to_excel(writer, sheet_name="TabRemat")
  #tabela_matriculas_mes.to_excel(writer, sheet_name="TabMatMês")
  tab_remat_e_novas.to_excel(writer, sheet_name="TabRemat&NovosBarao")
  tab_remat_e_novas_por_empresa.to_excel(writer, sheet_name="TabRemat&Novos&antigos")
  #tabela_matriculas_fase.to_excel(writer, sheet_name="TabMatFases")

  #tabela_matriculas_aloise.to_excel(writer, sheet_name="TabMatAloise")
  #tabela_matriculas_monan.to_excel(writer, sheet_name="TabMatMonan")
  #tabela_matriculas_whaluz.to_excel(writer, sheet_name="TabMatWhaluz")
  #tabela_matriculas_thazmana.to_excel(writer, sheet_name="TabelaMatriculasThazmana")

  matriculas_aloise.to_excel(writer, sheet_name="ListaAloise")
  matriculas_monan.to_excel(writer, sheet_name="ListaMonan")
  matriculas_whaluz.to_excel(writer, sheet_name="ListaWhaluz")

#Enzos & Valentinas

In [ ]:
df_matricula.query('Nome == "ENZO "')

In [ ]:
enzos = df_matricula.query('Nome.str.contains("ENZO")', engine='python')
enzos.head(5)

In [ ]:
enzos.count()

In [ ]:
valentinas = df_matricula.query('Nome.str.contains("VALENTINA")', engine='python')
valentinas.head()

In [ ]:
valentinas.count()

In [ ]:
miguels = df_matricula.query('Nome.str.contains("MIGUEL")', engine='python')
#miguels.head()

In [ ]:
miguels.count()

In [ ]:
gaias = df_matricula.query('Nome.str.contains("GAIA")', engine='python')
#gaias.head()

In [ ]:
gaias.count()

In [ ]:
gaels = df_matricula.query('Nome.str.contains("GAEL")', engine='python')
#gaels.head()

In [ ]:
gaels.count()

In [ ]:
helenas = df_matricula.query('Nome.str.contains("HELENA")', engine='python')
helenas.head()

In [ ]:
helenas.count()

In [ ]:
marias = df_matricula.query('Nome.str.contains("MARIA ")', engine='python')
marias.head()

In [ ]:
marias.count()

In [ ]:
manuelas = df_matricula.query('Nome.str.contains("MANUELA")', engine='python')
#manuelas.head(4)

In [ ]:
manuelas.count()

In [ ]:
alices = df_matricula.query('Nome.str.contains("ALICE")', engine='python')
alices

In [ ]:
alices.count()

In [ ]:
"""# prompt: crie um grafico com o total de alunos por data em df_matricula

import matplotlib.pyplot as plt

# Group data by date and count the number of students
student_counts_by_date = df_matricula.groupby('Data Matrícula')['Nome'].count()

# Create the plot
plt.figure(figsize=(12, 6))
plt.plot(student_counts_by_date.index, student_counts_by_date.values)
plt.xlabel('Data de Matrícula')
plt.ylabel('Total de Alunos')
plt.title('Total de Alunos por Data de Matrícula')
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
plt.tight_layout()
plt.show()"""